html {
    height: 100%;
    width: 100%;
}

body {
    line-height: 1.0;
    overflow-x: hidden;
    word-wrap: break-word;
    background-color: #181825;
}

#text {
    color: #A6ADC8;
    font-family: system-ui, sans-serif;
    font-size: 1.02rem;
    font-weight: 400;
    line-height: 1.5em;
    padding: 0.25em 0.5em;
}

a:link {
  color: #89B4FA;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #B2C8F6;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #B2C8F6;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #B2C8F6;
  background-color: transparent;
  text-decoration: none;
}
